.THIS:hover {
    transform: scale(1.1);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.THIS{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.THIS #grid-col-item {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.THIS #grid-col-item:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.THIS #center-text {
    text-transform: capitalize;
    border-radius: 5px;
    border-color: black;
    color: white;
    background: grey;
    text-align: center;
}
.THIS #cursor-link{
    cursor: pointer;
}